@model WagenPark.Classes.Auto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/MutualLayouts/DatabaseLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Kenteken)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Kenteken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Kenteken }) |
    @Html.ActionLink("Terug naar Auto Database", "Index")
</p>
