@model IEnumerable<WagenPark.Classes.Auto>

@{
    ViewBag.Title = "Database";
    Layout = "~/Views/MutualLayouts/DatabaseLayout.cshtml";
}

<h2>Database</h2>

<p>
    @Html.ActionLink("Aanvraag nieuwe auto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kenteken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kenteken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Kenteken }) |
            @Html.ActionLink("Details", "Details", new { id=item.Kenteken }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Kenteken })
        </td>
    </tr>
}

</table>
